# fly.toml app configuration file generated for telegram-game on 2026-01-13T12:00:03Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'telegram-game'
primary_region = 'jnb'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
